h1 {
    text-align: center;
    background-color: #98F03E;
    font-size: 60px;
    font-family: Garamond, sans-serif;
}
h3 {
    color: #EB54FF;
    font-family: Garamond, sans-serif;
    text-align: center;
}
ul {
    margin: 20px;
    text-align: center;
    list-style-position: inside
}
